nav{
  background-color:#323148;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  flex-direction: row;
}


.navbar-name{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

nav ul{
  margin-right: 13%;
}

nav ul li{
  color:#1F1E2B;
  list-style-type: none;
  display: inline-block;
  padding: 22px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

.navbar-button{
  appearance: button;
  backface-visibility: hidden;
  background-color: #405FCE;
  border-radius: 8px;
  padding: 12px 25px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor:help;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  touch-action: manipulation;
}

.navbar-button:disabled {
  cursor: default;
}

.navbar-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.navbar-button:hover{
  color:black;
}
