
.splide--container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.splide--body{
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
}

.splide_slide.is-next .carousel--img{
    transform: scale(1.1); /* Increase size of image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow */
}

.splide__slide:not(.is-next) .carousel--img {
    transform: scale(0.8); /* Decrease size of image */
    opacity: 0.5; /* Add transparency */
}


.carousel--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
