.films-container {
  padding: 3rem;
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 32pt;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}

.film-card {
  display: block;
  position: relative;
  border-radius: 1rem;
}


.film-description{
  position: absolute;
  top: 0;
  left: 3%;
  right:3%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 2rem;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.film-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.film-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 0;
}