.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25262A;
  height: 100px;
  padding: 0 20px;
}

.Navbar--logo {
  height: 50px;
  fill: white;
  object-fit: cover;
}


.Navbar--nav{
  position: relative;
  right:4%;
  overflow: hidden;
}

.Navbar--nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar--nav li {
  margin: 0 18px;
}

.Navbar--nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 16pt;
  font-weight: bold;
}

.NavbarLink--active{
  color: whitesmoke;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
}



.Navbar--auth button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #E13737;
  border-radius: 4rem;
  padding: 12px 25px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16pt;
  outline: none;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  touch-action: manipulation;
}


.Navbar--auth button:disabled {
  cursor: default;
}

.Navbar--auth button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.Navbar--auth button:hover{
  color:black;
}


@media only screen and (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    height: auto;
  }

  .Navbar--nav {
    display: none;
  }

  .Navbar--nav.show {
    display: block;
  }

  .Navbar--auth {
    margin-top: 10px;
  }

  .Navbar--auth button {
    width: 100%;
  }

  .Navbar--nav ul {
    flex-direction: column;
    align-items: center;
  }

  .Navbar--nav li {
    margin: 10px 0;
  }

  .Navbar--nav a {
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    text-align: center;
    display: block;
}

.Navbar--links a.active {
  text-decoration: underline;
}
}

.MuiMenu-root ul{
  background-color: white;
  color: #0F4D81;
}
